@{
    Layout = null;
}
<style type="text/css">
    .page-footer-inner{
        float:right !important;
    }
</style>
<div class="page-footer">
    <div class="page-footer-inner">
        2017 - @DateTime.Now.Year &copy; David Tuấn.
        <a href="javascript:void(0)">voquoctuanqn@gmail.com</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
