@{
    Layout = null;
    var IsAdmin = @ViewBag.IsAdmin;
}

@model List<CMS_DTO.CMSProduct.CMS_ProductsModels>

@*Show thông tin các sản phẩm sau khi quét được*@
<div class="ListProduct">

</div>

<script type="text/javascript">
    
    $(document).ready(function () {
    })
    
</script>
