@model CMS_DTO.CMSProduct.CMS_ProductsModels
<div role="main" style="display:inline-block;height:100%;width:100%">
    @*<div class="se-pre-con" style="display: none;"></div>*@
    <div class="page-title">
        <!-- BEGIN PAGE BAR -->
        @Html.Partial("_breadcrumb", new Dictionary<string, string> { { "A", "Trang chủ" }, { "B", "Sản phẩm - Sửa" } })
        <!-- END PAGE BAR -->
    </div>
    <div class="page-main">
        <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
            <div class="x_content">
                <div class="row text-right">
                    <ul class="header-buttons pull-right list-inline">
                        <li>
                            <a href="javascript:void(0)" class="btn btn-danger" id="btn-delete" onclick="CloseDetail()">
                                <i class="fa fa-times"></i>
                                &nbsp;Hủy
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="btn btn-success" id="btn-edit-save" onclick="SubmitForm('#form-edit')">
                                <i class="fa fa-save"></i>
                                &nbsp;Lưu
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box-body" style="display: block;">
                    @using (@Html.BeginForm("Edit", "CMSProducts", FormMethod.Post, new { @id = "form-edit", @class = "form-horizontal", @enctype = "multipart/form-data" }))
                    {
                        @Html.Partial("_Form", Model)
                    }
                </div>

            </div>
        </div>

    </div>
</div>
<script>
    $("#form-edit").submit(function (e) {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
        $.ajax({
            beforeSend: function () {
                $('.se-pre-con').show();
            },
            url: $(this).attr('action'),
            type: "post",
            data: new FormData(this),
            processData: false,
            contentType: false,
            success: function () {
                CloseDetail();
                LoadGrid();
            },
            complete: function () {
                $('.se-pre-con').hide();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".detail-view").html(jqXHR.responseText);
            }
        });
        e.preventDefault();
    });
</script>