@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Trang chủ";
}
@model CMS_DTO.CMSHome.CMSHomeModels
<div role="main">
    <div class="se-pre-con" style="display: none;"></div>
    <div class="_gridview">
        <div class="page-main">
            <div id="div-silder">
                <fieldset>
                    <legend>PHẦN MỀM XEM THÔNG TIN SẢN PHẨM</legend>
                </fieldset>

                <fieldset style="margin-top:30px; color: #ff0000; text-align: center; ">
                    <legend>CHÂM NGÔN CHÚNG TÔI</legend>
                    <div>
                        <div style="line-height: 1.8; ">
                            “Cân nhắc từng li cũng là vì<br />
                            Đi trật một tý chẳng ra chi<br />
                            Thông minh nhạy bén thật là quý<br />
                            Có gan bền chí phất tức thì !”
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function preview_image(that, _attr) {
        var _Files = document.getElementById(_attr).files[0];
        var _FileName = _Files.name;
        $("." + _attr + "").val(_FileName);
    }

    function showPictureUpload(that) {
        $(that).click();
    }

    function SubmitFormSilder(form) {
        $(form).submit();
    }
</script>